#destination{
    background-image: url('../../assets/destination/background-destination-desktop.jpg');
    margin: 0;
    height: auto;
    width: auto;
    overflow-y: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#listePlanet{

    display: flex;
    justify-content: flex-end;
    gap: 2%;
    height: 450px;
}


#listePlanet a {
    text-decoration: none;
    color: rgb(197, 197, 197);
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

#listePlanet a.active {
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.329);
}



