#home{
    height: 100vh; 
    width: 100vw;
    margin: 0;
    background-image: url(../../assets/home/background-home-desktop.jpg);
    overflow-y: hidden;
    box-sizing: border-box;
    background-size: cover;
}

body{
    margin: 0;
    
}
#home  p{
    color: white;
    font-size: 25px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
#explore{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
}
#idexplore:hover{
    transform: scale(1.15);
    transition: transform 0.75s;
    box-shadow: 1px 1px 6px 5px white;
}
#idexplore{
    border: 2px white solid;
    height: 140px;
    border-radius: 50%;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    margin-right: 5%;
}

.home-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.home-text {
  width: 60%;
  padding: 0;
  min-width: 300px; 
}
.home-content{
    width: 100%;
}
#textHome{
 margin-left: auto;

}
#h2home{
    font-size: 40px;
}
#titreHome{
    width: 900px;
}
@media (max-width: 1400px){
#titreHome{
    width: 700px;
}
}

@media (max-width: 900px) {
  .home-text {
    width: 100%;
  }
  #titreHome{
    width: auto;
}
  #textHome{
 margin-left: 0%;
}
  #idexplore {
    width: 140px;
    min-width: 140px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
  }
  #h2home{
    font-size: 25px;
}
}